
html, body {
    position: relative;
}
body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    color:#000;
    margin: 0;
    padding: 0;
}
.gallery-top {
  	/*height: 80%;*/
    width: 100%;
}

.gallery-top.swiper-container .swiper-slide-active{
	z-index: 10;
	background: #fff;
}
.gallery-thumbs {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}
.gallery-thumbs .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}
.gallery-thumbs .swiper-slide-active {
    opacity: 1;
}
.topNav_box{
	height: 0.7rem;
	width: 5.8rem;}
#topNav {
	width: 5.8rem;
	height: 0.7rem;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	background: #fff;
	font:  hiragino sans gb, microsoft yahei, simsun;
}
#topNav.swiper-container{
	margin-left: 0;
}
#topNav .swiper-slide {
	text-align:center;
	width: 0.6rem;
	height: 0.5rem;
	line-height: 0.5rem;
	padding: 0.1rem 0.15rem;
}
#topNav .swiper-slide span{
	font-size: 0.28rem;
	transition:all .3s ease;
	display:block;
	box-sizing: border-box;
}
#topNav .active span{
	transform:scale(1.1);
	color:#ff7000;
	border-bottom: 0.05rem solid #ff7000;
}
.columns_btn{
	width: 0.6rem;
	height: 0.7rem;
	position: fixed;
	right: 0;
	top: 0;
	background: #fff;
	z-index: 99;
}
.columns_btn span{
	position: absolute;
	display: inline-block;
	top: 0.2rem;
	width: 0.22rem;
	height: 0.2rem;
	left: 0.2rem;
	background: url(../img/channels_btn.png) no-repeat;
	background-size: 100% 100%;
}
/*全部栏目*/
.columns_box{
	height: 100%;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background: #fff;
	z-index: 999;
	display: none;
}
.columns_title_box{
	height: 1rem;
	line-height: 1rem;
	background: #fff;
	width: 100%;
}
.columns_title_box .columns_title{
	height: 100%;
	width: 100%;
	text-align: center;
	font-size: 0.26rem;
	color: #000;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
}
.columns_title_box .columns_title .close_btn{
	display: inline-block;
	width: 0.2rem;
	height: 0.2rem;
	background: url(../img/close_btn.png)no-repeat;
	background-size: 100% 100%;
	position: absolute;
	right: 0.27rem;
	top: 0.55rem;
}
.columns_content{
	width: 100%;
	height: auto;
}
.columns_content .content_title{
	height: 0.7rem;
	line-height: 0.7rem;
	width: 6.2rem;
	padding-left: 0.2rem;
	font-size: 0.24rem;
	color: #666;
	border-bottom: 0.01rem solid #eaeaea;
}
.content_list{
	height: 1.16rem;
	width: 4.84rem;
	padding: 0 0.78rem;
	display: flex;
	justify-content: space-between;
	margin-top: 0.35rem;
}
.content_list .content_list_box{
	height: 100%;
	width:.8rem;
	text-align: center;
}
.content_list .content_list_box .selected{
	background: url(../img/all1.png)no-repeat;
}
.content_list .content_list_box .nineteen{
	background: url(../img/all2.png)no-repeat;
}
.content_list .content_list_box .tV_play{
	background: url(../img/all3.png)no-repeat;
}
.content_list .content_list_box ._movie{
	background: url(../img/all4.png)no-repeat;
}
.content_list .content_list_box .variety{
	background: url(../img/all5.png)no-repeat;
}
.content_list .content_list_box .chlid{
	background: url(../img/all6.png)no-repeat;
}
.content_list .content_list_box .comic{
	background: url(../img/all7.png)no-repeat;
}
.content_list .content_list_box ._vip{
	background: url(../img/all8.png)no-repeat;
}
.content_list .content_list_box .music{
	background: url(../img/all9.png)no-repeat;
}

.content_list .content_list_box .american_tv{
	background: url(../img/all10.png)no-repeat;
}
.content_list .content_list_box .nba{
	background: url(../img/all11.png)no-repeat;
}
.content_list .content_list_box .documentary{
	background: url(../img/all12.png)no-repeat;
}
.content_list .content_list_box .content_list_img{
	display: inline-block;
	width: 0.55rem;
	height: 0.55rem;
	background-size: 100% 100%;
}
.content_list .content_list_box .content_list_name{
	display: inline-block;
	width: 100%;
	height: 0.4rem;
	line-height: 0.4rem;
	font-size: 0.22rem;
	color: #7e7e7e;
	text-align: center;
}
.gallery-top .search_box{
	width: 6.02rem;
	padding: 0 0.2rem;
	height: 0.46rem;
	position: relative;
	margin:0.18rem 0 0.12rem 0;
}
.gallery-top .search_box input{
	height: 100%;
	width: 100%;
	border:none;
	background: #edeeef;
	border-radius: 0.08rem;
}
.gallery-top .search_box .search_pst{
	position: absolute;
	height: 0.24rem;
	width: 1.3rem;
	top: 0.11rem;
	left: 2.5rem;
	font-size: 0.2rem;
	line-height: 0.24rem;
}
.gallery-top .search_box .search_pst span{
	display: inline-block;
	width: 0.19rem;
	height: 0.24rem;
	background: url(../img/search.png)no-repeat;
	background-size: 100% 100%;
	vertical-align: top;
	margin-right: 0.05rem;
}
.gallery-top .innner_swiper_box{
	width: 100%;
	height: 3.40rem;
	padding-bottom: 0.3rem;
	border-bottom: 0.01rem solid #eaeaea;
}
.gallery-top .innner_swiper_box .innner_swiper{
	height: 100%;
	/*overflow: visible!important;*/
	overflow: hidden;
}
.gallery-top .innner_swiper_box .innner_swiper .swiper-slide{
	width: 6.02rem;
}
.gallery-top .innner_swiper_box .innner_swiper .swiper-slide img{
	width: 100%; height:100%;
}
.gallery-top .innner_swiper_box .innner_swiper .swiper-slide-active{
	width: 6.02rem;
}

/*列表样式*/
.mad{
	width: 100%;
	height: auto;
	padding-bottom: 0.3rem;
	padding-top: 0.1rem;
	border-bottom: 0.01rem solid #eaeaea;
}
.mad .title{
	height: 0.6rem;
	line-height: 0.6rem;
	font-size: 0.24rem;
	padding-left: 0.15rem;
	width:auto;
}
.mad  .Public_list{
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-between;
	flex-wrap:wrap;
}
.mad  .Public_list .list_item{
	width: 3.18rem;
	height: 2.6rem;
}
.mad  .Public_list .list_item .list_top{
	width: 100%;
	height: 1.8rem;
	position: relative;
}
.mad  .Public_list .list_item .list_top .newst_num{
	font-size: 0.14rem;
	position: absolute;
	bottom: 0.1rem;
	right: 0.1rem;
	color: #fff;
}
.mad  .list_middle{
	margin-top: 0.1rem;
	width:3.03rem;
	overflow: hidden;
	height: 0.36rem;
	line-height: 0.36rem;
	font-size: 0.24rem;
	padding-left: 0.15rem;
	color: #222;
}
.mad .list_bottom{
	width:3.03rem;
	overflow: hidden;
	height: 0.30rem;
	line-height: 0.30rem;
	font-size: 0.22rem;
	padding-left: 0.15rem;
	color: #adadad;
}
.mad .import_reom{
	width: 100%;
	padding-bottom: 0.3rem;
}
.mad .import_reom .import_reom_img{
	width: 100%;
	height: 3.6rem;
}
.mad .soon_play{
	height: 3.2rem;
	width: 100%;
}
.mad .soon_play .swiper-slide{
	width: 1.87rem;
	height: 100%;
}
.mad .soon_play .swiper-slide .soon_img{
	width: 100%;
	height: 2.62rem;
	position: relative;
}
.mad .soon_play .swiper-slide .soon_play_name{
	margin-top: 0.1rem;
	width: 100%;
	height: 0.4rem;
	line-height: 0.4rem;
	text-align: center;font-size: 0.24rem;
}
.mad .my_cinema{
	width: 100%;
	height: 4.05rem;
}
.mad .my_cinema .swiper-slide{
	width: 2.18rem;
	height: 100%;
	margin-top: 0.2rem;
}
.mad .my_cinema .swiper-slide .my_cinema_img{
	width: 100%;
	height: 3.05rem;
	position: relative;
}
.mad .my_cinema .swiper-slide .my_cinema_name{
	margin-top: 0.1rem;
	width: 100%;
	height: 0.4rem;
	line-height: 0.4rem;
	text-align: center;font-size: 0.24rem;
}
.mad .my_cinema .swiper-slide-active{
	transform: scale(1.2);
}
/*footer*/
#footer{
	width: 100%;
	height: 0.74rem;
	border-top: 0.02rem solid #e1dede;
	position: fixed;
	bottom: 0 ;
	left: 0;
	background: #f5efef;
	z-index: 99;
}
#footer .footer_box{
	display: flex;
	justify-content: space-around;
	width: 100%;
	height: 100%;
}
#footer .footer_box .footer_list{
	width: auto;
	height: 100%;
	text-align: center;
}
#footer .footer_box .footer_list a{
	display: inline-block;
	height: 100%;
}
#footer .footer_box .footer_list span{
	display: block;
}
#footer .footer_box .footer_list .footer_icon{
	width: 0.34rem;
	height: 0.34rem;
	margin:0 auto;
	margin-top: 0.1rem;
}
#footer .footer_box .footer_list .footer_name{
	width: auto;
	height: 0.3rem;
	line-height: 0.3rem;
	font-size: 0.18rem;
	color: #767575;
}
#footer .footer_box .home .footer_icon{
	background: url(../img/home.png) no-repeat;
	background-size: 100% 100%;
}
#footer .footer_box .home.current .footer_icon{
	background: url(../img/home_current.png)no-repeat;
	background-size: 100% 100%;
}
#footer .footer_box .hot .footer_icon{
	background: url(../img/hot.png)no-repeat;
	background-size: 100% 100%;
}
#footer .footer_box .hot.current .footer_icon{
	background: url(../img/hot_current.png)no-repeat;
	background-size: 100% 100%;
}
#footer .footer_box .vip .footer_icon{
	background: url(../img/vip.png)no-repeat;
	background-size: 100% 100%;
}
#footer .footer_box .vip.current .footer_icon{
	background: url(../img/vip_current.png) no-repeat;
	background-size: 100% 100%;
}
#footer .footer_box .doki .footer_icon{
	background: url(../img/doki.png) no-repeat;
	background-size: 100% 100%;
}
#footer .footer_box .doki.current .footer_icon{
	background: url(../img/doki_current.png) no-repeat;
	background-size: 100% 100%;
}
#footer .footer_box .mine .footer_icon{
	background: url(../img/mine.png) no-repeat;
	background-size: 100% 100%;
}
#footer .footer_box .mine.current .footer_icon{
	background: url(../img/mine_current.png) no-repeat;
	background-size: 100% 100%;
}



